@import "../../mixins.scss";
.fadded-container{
  position: relative;
  z-index: 10;
  // background-color: rgba(0, 0, 0, .6);
  background-color: var(--modal-background-color);
  width: 100%;
  height: 100%;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // display: none;
    // background: linear-gradient(
    // 127deg,
    // hsla(0, 0%, 100%, 0.16) 17.35%,
    // hsla(0, 0%, 85%, 0.04) 76.2%
    // );
    accent-color: red;
    justify-content: center;
    align-items: center;
    @include respond(phone) {
      align-items: end;
    }
  }
  
  .modal {
    width: 35%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
    127deg,
    hsla(0, 0%, 100%, 0.16) 17.35%,
    hsla(0, 0%, 85%, 0.04) 76.2%
  );
    padding: 20px;
    border-radius: 12px;
    position: relative;
    @include respond(phone) {
      width: 95%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }

  .d-main{
    width: 100%;
    display: flex;
    // flex-direction: column;
    justify-content: center;
  }

  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 18px;
  }

  .d-header{
    margin-bottom: 20px;
    @include respond(phone) {
      font-size: 16px;
    }

  }
  
  .generate-address-btn {
    padding: 0px 40px;
    background-color: transparent;
    background-image: linear-gradient(127deg, hsla(0, 0%, 100%, .16) 17.35%, hsla(0, 0%, 85%, .04) 76.2%);
    color: white;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    margin-bottom: 10px;
    border-color: rgb(56 67 80 );
    border-width: 1px;
    height: 40px;
    font-size: 15px;

  }
  
  .deposit-address {
    display: flex;
    flex-direction: column;
    // align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    width: 100%;
    span{
      @include respond(phone) {
        font-size: 14px;
      }
    }
    .wrap{
      display: flex;
      justify-content: space-between;
      width: 100%;
      background-color: rgb(29, 35, 43);
      padding: 15px;
      border-radius: 7px;
      span{
        @include respond(phone) {
          font-size: 12px;
        }
      }
    }
  }

  .deposit-address-info-el {
    background-color: rgb(29, 35, 43);
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
  }

  .address-wrap{
    display: flex;
    gap: 3px;
  }
  .countdown {
    margin-bottom: 10px;
  }
  
  .deposit-btn {
    padding: 15px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .open {
    display: flex;
  }
  .warning{
    text-align: center;
    @include respond(phone) {
      font-size: 14px;
    }
  }
  .deposit-asset{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .d-coin-wrap{
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .d-coin-select-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    border-radius: 7px;
    border: 1px solid rgba(49 54 61 );
    padding: 3px 10px;
    background: linear-gradient(127deg, hsla(0, 0%, 100%, .16) 17.35%, hsla(0, 0%, 85%, .04) 76.2%);
  }

  .d-currency-select-wrap{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
    padding: 7px;
    // width: 50%;
    // margin-bottom: 1px;
    cursor: pointer;
    // border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 12px;
    position: relative;
    background-color: rgb(29 35 43 )
  }

  .d-picker-currency{
    font-size: 18px;
    @include respond(phone) {
      font-size: 14px;
    }
  }
  .note-wrap{
    width: 100%;
    padding: 7px;
    border-radius: 7px;
    background-color: rgba(21, 31, 43, .4);
    & .note-bg{
      background-color: rgb(2 8 15 )
    }
    header{
      font-size: 16px;
      margin-bottom: 2px;
      @include respond(phone) {
        font-size: 14px;
      }
    }
    ul {
      list-style-type: disc;
      padding-left: 20px; /* Adds space for the dots */
    }
    
    ul li {
      margin-bottom: 4px; 
      font-size: 14px;
      @include respond(phone) {
        font-size: 12px;
      }
      // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      // font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
  }