@import  "../../mixins.scss";
  
  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 25px;
  }
  .w-header{
    margin-bottom: 10px;
  }
  
  .w-input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 12px;
    gap: 4px;
    @include respond(phone) {
      margin-bottom: 15px;
      gap: 0px;
    }
    label{
      font-size: 14px;
      @include respond(phone) {
        font-size: 12.5px;
      }
    }
    input{
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: rgb(29, 35, 43);
    color: #fff;
    @include respond(phone) {
      padding: 12px;
    }

    }
    .checktoken{
      font-size: 12px;
      color: orange;
      margin: 12px 0px;
      text-align: center;
    }
    .wrap{
      display: flex;
      justify-content: space-between;
      span{
        font-size: 12px;
      }
    }
  }

  .w-A-input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 17px;
    gap: 4px;
    @include respond(phone) {
      margin-bottom: 15px;
    }
    label{
      font-size: 14px;
      @include respond(phone) {
        font-size: 12.5px;
      }
    }
    .wrap-input{
      display: flex;
      justify-content: space-between;
      border: 1px solid rgb(42 51 62);
      border-radius: 8px;
      background-color: rgb(29, 35, 43);
      input{
        width: 100%;
        padding: 12px;
        margin-top: 0px;
        margin-bottom: 0px;
        border-radius: 10px;
        background-color: inherit;
        @include respond(phone) {
          padding: 12px;
        }
    
        }
        .max-wrap{
          display: flex;
          align-items: center;
          gap: 3px;
          font-size: 14px;
          padding-right: 7px;
          color: orange;
          cursor: pointer;
        }



    }
    
    .wrap{
      display: flex;
      justify-content: space-between;
      span{
        font-size: 12px;
      }
    }
  }
  

  
  .withdraw-btn {
      padding: 10px 40px;
      border-radius: 10px;
      margin: 0 auto;
      color: #fff;
      font-size: 16.5px;
      background-color: rgb(28 100 224 );
      // background-color: rgb(23, 57, 102);
      // background: linear-gradient(127deg, hsla(0, 0%, 100%, 0.16) 17.35%, hsla(0, 0%, 85%, 0.04) 76.2%);
      cursor: pointer;
      @include respond(phone) {
        font-size: 14px;
      }
  }

  .password-reset-input-wrap{
    width: 100%;

    .password-reset-input{
      width: 100%;
    }
  }

  .passwd{
    position: relative;
  }
  
  .pssd-r-eye-icon{
    position: absolute;
    right: 20px;
    top: 35px;
    color: rgb(28 100 224);
    cursor: pointer;
  }

  .withdrawal-info-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    // margin-bottom: 10px;
  }

  .withdrawal-address-info-el {
    background-color: rgb(29, 35, 43);
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
  }
  
  
  .open {
    display: flex;
  }

  .w-main{
    display: flex;
    // background-color: red;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .w-coin-select-wrapper{
    // align-self: center;
    // justify-content: center;
    width: 100%;
    position: relative;
    // background: red;
  }

  .w-currency-select-wrap{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.8);
    // background: green;
  }

  .w-deposit-coin-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .w-picker-currency{
    font-size: 20px;
  }

  